html,
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    margin: 0;
    padding: 0;
}

*,
::before,
::after {
    box-sizing: border-box;
}
:root {
    --lightgrey: #f2f2f2;
    --black: #0e0e0e;
    --lightblue: #a5bfd4;
    --blue: #6a96d8;
    --lightblue2: #e6edf6;
    --pink: #ffc2c1;
    --white: #ffffff;
}
body {
    background: fixed;
    background-color: var(--black);
}
main {
    background-color: var(--lightblue);
    width: 90vw;
    height: 100vh;
    margin: 0 auto;
}
#container {
    width: 25rem;
    background-color: var(--white);
    position: absolute;
    top: 10%;
    left: 35%;
    cursor: zoom-out;
}
#header p {
    display: inline;
    font-size: 13px;
    font-weight: bold;
}
.header-radio {
    padding-top: 8px;
    padding-bottom: 2px;
}
#header input {
    width: 8px;
}

.times {
    font-size: 30px;
    cursor: pointer;
}
#header {
    background-color: var(--blue);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    padding: 8px 20px;
}

#ruler1 {
    padding: 0 20px;
}
#message-area span {
    font-size: 12px;
    color: var(--lightgrey);
}
.hr-lines:before {
    content: " ";
    display: block;
    width: 160px;
    background: var(--lightgrey);
    top: 50%;
    left: 0;
    position: absolute;
    height: 1px;
}
.hr-lines {
    position: relative;
    text-align: center;
    font-size: 12px;
    color: var(--lightgrey);
}
.hr-lines::after {
    content: " ";
    display: block;
    width: 130px;
    background: var(--lightgrey);
    top: 50%;
    right: 0;
    position: absolute;
    height: 1px;
}
#message-area {
    padding: 0 20px;
}
#message-area p {
    width: fit-content;
    max-width: 270px;
    font-size: 12px;
    font-weight: bold;
    background-color: var(--pink);
    padding: 15px;
    border-radius: 3px;
}
.span-right {
    padding-left: 90%;
}
#message-area .left {
    background-color: var(--lightblue2);
}
#message-area .right:nth-last-of-type(3) {
    background-color: var(--lightgrey);
}
#message-area .right {
    margin-left: 30%;
}
#message-area .pink {
    margin-left: 48%;
}
#text-area {
    padding: 0 10px;
    padding-bottom: 10px;
}
#text-area input {
    width: 85%;
    height: 2rem;
    background-color: transparent;
    border: none;
}
#text-area button {
    background-color: transparent;
    border: none;
    color: var(--blue);
    font-size: 15px;
    cursor: pointer;
}
@media screen and (max-width: 900px) {
    #container {
        left: 22%;
    }
}
@media screen and (max-width: 600px) {
    #container {
        left: 10%;
    }
}
@media screen and (max-width: 500px) {
    #container {
        width: 15rem;
        top: 5%;
    }
    main {
        width: 90%;
    }
}
@media screen and (max-width: 450px) and (min-width: 490px) {
    #container {
        left: 25%;
    }
}
